.android-large-9-child {
  width: calc(100% + 0.5px);
  margin: 0 !important;
  top: 317px;
  right: -0.5px;
}
.android-large-9-child,
.android-large-9-item,
.frame-child28,
.frame-child29 {
  position: absolute;
  left: 0;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
  height: 0.5px;
}
.android-large-9-item {
  width: calc(100% + 0.5px);
  margin: 0 !important;
  right: -0.5px;
  bottom: 167.5px;
}
.frame-child28,
.frame-child29 {
  top: 0;
  width: 375.5px;
  z-index: 1;
}
.frame-child29 {
  left: 7px;
  border-top: 1px solid var(--color-royalblue-100);
  width: 308px;
  height: 1px;
  z-index: 2;
}
.line-parent {
  width: 100%;
  height: 1px;
  position: absolute;
  margin: 0 !important;
  top: 392px;
  right: 0;
  left: 0;
}
.android-large-9-inner {
  width: 185px;
  height: 10px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  z-index: 3;
}
.time6 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 600;
  white-space: nowrap;
}
.chevron-left-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: var(--br-10xs);
  overflow: hidden;
  flex-shrink: 0;
}
.chevron-left-container,
.time-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-left-container {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.time-parent3 {
  width: 54px;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.workout-schedule {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  white-space: nowrap;
}
.vector-icon7 {
  width: 5px;
  height: 8px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.feb-2024 {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.vector-icon8 {
  width: 5px;
  height: 8px;
  position: relative;
  object-fit: contain;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.calendar-background,
.calendar-background-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.calendar-background {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.calendar-background-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 51px 0 var(--padding-33xl);
  font-size: var(--font-size-xs);
}
.cellular-connection-inner,
.workout-schedule-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.workout-schedule-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-sm);
}
.cellular-connection-inner {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-33xl) 0 0;
}
.cellular-connection-icon6 {
  width: 17px;
  height: 10.7px;
  position: relative;
}
.cellular-connection-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.wifi-icon6 {
  height: 11px;
  width: 15.3px;
  position: relative;
}
.border6,
.cap-icon6 {
  position: absolute;
  mix-blend-mode: normal;
}
.border6 {
  top: 0;
  right: 2.3px;
  border-radius: 2.67px;
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 22px;
  height: 11.3px;
  opacity: 0.35;
}
.cap-icon6 {
  top: 3.7px;
  right: 0;
  width: 1.3px;
  height: 4px;
}
.capacity6 {
  position: absolute;
  top: 2px;
  right: 4.3px;
  border-radius: 1.33px;
  background-color: var(--color-gray-300);
  width: 18px;
  height: 7.3px;
  z-index: 1;
}
.battery6 {
  height: 11.3px;
  width: 24.3px;
  position: relative;
}
.assignmentind {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.cellular-connection {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.cellular-connection,
.cellular-connection-wrapper3,
.frame-parent22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cellular-connection-wrapper3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  font-size: var(--font-size-xl);
  color: var(--black);
}
.frame-parent22 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-4xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
.day-labels {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.96px;
  background-color: var(--color-white);
}
.p,
.sun {
  margin-block-start: 0;
  margin-block-end: 10.67px;
}
.p {
  font-size: var(--font-size-9xl-5);
  line-height: 17.08px;
}
.sun-5 {
  height: 35.7px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.day-labels-parent {
  flex: 0.4418;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-8) 17.5px var(--padding-14xl-7);
  position: relative;
}
.frame-child30 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.96px;
  background: linear-gradient(-90deg, #8da4ff, #d1dbff);
}
.mon,
.p1 {
  margin-block-start: 0;
  margin-block-end: 10.67px;
}
.p1 {
  font-size: var(--font-size-9xl-5);
  line-height: 17.08px;
}
.mon-6 {
  height: 35.7px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.4px var(--padding-mid-6) 31.9px;
  position: relative;
}
.calendar-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.8px;
  color: var(--color-white);
}
.frame-child31 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.96px;
  background-color: var(--color-white);
}
.p2,
.tue {
  margin-block-start: 0;
  margin-block-end: 10.67px;
}
.p2 {
  font-size: var(--font-size-9xl-5);
  line-height: 17.08px;
}
.tue-7 {
  height: 35.7px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.tue-7-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 10.8px;
}
.assignment-ind-icon {
  width: 8.8px;
  height: 8px;
  position: relative;
  z-index: 1;
}
.rectangle-parent22 {
  flex: 0.7863;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-8) 6.7px 6.1px;
  position: relative;
  gap: 19.6px;
}
.frame-child32 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.96px;
  background-color: var(--color-white);
}
.p3,
.wed {
  margin-block-start: 0;
  margin-block-end: 10.67px;
}
.p3 {
  font-size: var(--font-size-9xl-5);
  line-height: 17.08px;
}
.wed-8 {
  height: 35.7px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent23 {
  flex: 0.4386;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-8) var(--padding-mid-6) var(--padding-14xl-7);
  position: relative;
}
.frame-child33 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 9.96px;
  background-color: var(--color-white);
}
.p4,
.thu {
  margin-block-start: 0;
  margin-block-end: 10.67px;
}
.p4 {
  font-size: var(--font-size-9xl-5);
  line-height: 17.08px;
}
.thu-9 {
  height: 35.7px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent24 {
  flex: 0.4386;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-8) var(--padding-mid-6) var(--padding-14xl-7);
  position: relative;
  color: #454545;
}
.calendar,
.calendar-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.calendar {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0.1px;
  gap: 7.3px;
}
.calendar-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs-6) 0 var(--padding-11xs);
}
.android-large-9-inner1,
.frame-parent21 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent21 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-sm);
}
.android-large-9-inner1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xs-4);
  color: var(--color-royalblue-200);
  font-family: var(--font-quicksand);
}
.am,
.rectangle6 {
  position: relative;
}
.rectangle6 {
  align-self: stretch;
  height: 44px;
  background-color: var(--color-white);
  display: none;
  z-index: 5;
}
.am {
  width: 59px;
  font-weight: 600;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
}
.am-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) var(--padding-9xs);
}
.am1,
.frame-child34 {
  box-sizing: border-box;
}
.frame-child34 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
}
.am1 {
  padding-right: var(--padding-12xs);
}
.am1,
.am2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
}
.am-parent {
  width: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.a-mlabel-child {
  height: 30px;
  width: 149px;
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(270deg, #d3a4f4, #e9b1e0);
  display: none;
}
.ab-workout-730am {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 129px;
  z-index: 2;
}
.a-mlabel,
.a-mlabel-wrapper {
  display: flex;
  align-items: flex-start;
}
.a-mlabel {
  border-radius: var(--br-xl);
  background: linear-gradient(270deg, #d3a4f4, #e9b1e0);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-5xs);
  white-space: nowrap;
  z-index: 1;
}
.a-mlabel-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  text-align: left;
  color: var(--color-white);
}
.time-separator {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child35,
.time-separator-wrapper {
  align-self: stretch;
  box-sizing: border-box;
}
.time-separator-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 var(--padding-base);
  max-width: 100%;
}
.frame-child35 {
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
}
.frame-parent25 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.circleicon-child {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  z-index: 3;
}
.circleicon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 0 0;
}
.am3,
.am4 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.am3 {
  align-self: stretch;
  min-width: 59px;
}
.am4 {
  width: 56px;
  min-width: 56px;
}
.am-container {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.am-container,
.circleicon-parent,
.lowerworkoutlabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lowerworkoutlabel {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.circleicon-parent {
  width: 71px;
  flex-direction: row;
  gap: 6px;
}
.upperandlowerworkouts-child {
  height: 30px;
  width: 189px;
  position: relative;
  border-radius: var(--br-xl);
  background: linear-gradient(270deg, #d3a4f4, #e9b1e0);
  display: none;
}
.upperbody-workout-9am {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.upperandlowerworkouts {
  border-radius: var(--br-xl);
  background: linear-gradient(270deg, #d3a4f4, #e9b1e0);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-5xs);
  white-space: nowrap;
  text-align: left;
  color: var(--color-white);
}
.frame-parent26 {
  flex-direction: row;
  gap: 25px;
}
.frame-parent24,
.frame-parent26,
.frame-wrapper10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper10 {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.frame-parent24 {
  align-self: stretch;
  flex-direction: column;
  gap: 14.5px;
  max-width: 100%;
}
.frame-child36 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.line-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9.8px;
  max-width: 100%;
}
.am5 {
  width: 52px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 52px;
  white-space: nowrap;
}
.am-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px var(--padding-10xs);
}
.frame-child37 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.frame-child38 {
  width: 91px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-xs);
  color: var(--black);
}
.frame-child39 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.frame-parent28 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.am6 {
  width: 56px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  white-space: nowrap;
}
.am-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
}
.am7,
.frame-child40 {
  align-self: stretch;
  position: relative;
}
.frame-child40 {
  height: 0.5px;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.am7 {
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.am-wrapper2 {
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.frame-child41 {
  height: 30px;
  width: 173px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--gray-50);
  display: none;
}
.lowerbody-workout-3pm {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.rectangle-parent25 {
  border-radius: var(--br-xl);
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-9xs) var(--padding-5xs)
    var(--padding-5xs);
  white-space: nowrap;
  text-align: left;
}
.frame-parent30 {
  flex-direction: row;
  gap: 27px;
}
.frame-parent29,
.frame-parent30,
.frame-wrapper11,
.line-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper11 {
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.frame-parent29,
.line-parent1 {
  align-self: stretch;
  flex-direction: column;
}
.line-parent1 {
  gap: 1.5px;
}
.frame-parent29 {
  gap: var(--gap-sm);
}
.frame-child42 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.am8 {
  width: 58px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.am-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.am9 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 60px;
  white-space: nowrap;
}
.frame-parent32,
.frame-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent32 {
  align-self: stretch;
  gap: var(--gap-4xl);
}
.frame-wrapper13 {
  width: 60px;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.wrapper-group-6,
.wrapper-group-6-child {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}
.wrapper-group-6-child {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  top: 4px;
  transform: scale(1.206);
}
.wrapper-group-6 {
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 21px;
  z-index: 2;
}
.wrapper-group-6-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-4xs);
  position: relative;
  text-align: left;
  font-size: 36px;
  color: var(--color-white);
}
.frame-parent31,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent31 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
}
.frame-child43,
.frame-parent27,
.frame-wrapper12 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-child43 {
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
}
.frame-parent27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4.5px;
  gap: 8.8px;
  max-width: 100%;
}
.am10 {
  width: 58px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.am-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.frame-child44 {
  align-self: stretch;
  height: 0.5px;
  position: relative;
  border-top: 0.5px solid var(--gray-100);
  box-sizing: border-box;
}
.wrapper-group-1-item {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.206);
}
.wrapper-group-11 {
  height: 63px;
  width: 63px;
  position: absolute;
  margin: 0 !important;
  top: -25px;
  left: calc(50% - 31.5px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-child45,
.frame-child46 {
  position: relative;
  max-width: 100%;
}
.frame-child45 {
  height: 76px;
  width: 375px;
  background-color: var(--color-white);
  display: none;
}
.frame-child46 {
  height: 27.6px;
  flex: 1;
  overflow: hidden;
  z-index: 2;
}
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: 21.9px 26px 26.5px;
  background-color: var(--color-white);
  flex: 1;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.android-large-9,
.frame-parent23,
.rectangle-parent26,
.wrapper-group-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper-group-1-parent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.android-large-9,
.frame-parent23 {
  flex-direction: column;
}
.frame-parent23 {
  align-self: stretch;
  gap: var(--gap-3xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--black);
  font-family: var(--font-montserrat);
}
.android-large-9 {
  width: 100%;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: 38.1px;
  line-height: normal;
  letter-spacing: normal;
}
